.App {
  text-align: center;
}

.App-header {
  background-color: #4e3f91d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text-heading {
  color: white
}

.text-label {
  color: white
}

.summary-card {

  background-color: #c5bfdfd2; 
  padding: 10px; 
  color: black; 
  width: 1000px; 
  margin:20px; 
  border-radius: 10px;
  border: solid 1px white;
}


